.copy-msg h1{
    font-weight: 400;
    text-shadow: 1px 2px black;
    background: rgb(255,255,255,0.2);
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    padding: 1rem;
    text-transform: uppercase;
}
.copy-msg p{
   font-size: 2rem; 
   font-weight: 100;
}